# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_cBL9UdKPkI4g@ep-lively-sunset-adel7ndl-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# Server Configuration
PORT=3000
NODE_ENV=development

# API Configuration
FULFILLMENT_API_URL=https://jsonplaceholder.typicode.com/posts
FULFILLMENT_API_TIMEOUT=5000

# Admin Authentication (Basic implementation)
ADMIN_API_KEY=your-secure-admin-api-key
