node_modules
dist
.env
*.log
.DS_Store
drizzle/*.sql


AI_PROMPTS.md
POSTMAN_GUIDE.md
test-api.ps1
USER_MANAGEMENT_API.md
QUICKSTART.md
RBAC_GUIDE.md
USER_MANAGEMENT_API.md
AUTH_API.md
Wallet System API.postman_collection.json